
header{
    width: 100%;
    
}

/*logo*/
header img{
    border-radius: 50%; /*redondea*/
    border: solid 1px rgb(153, 153, 153); /*color del borde*/
    margin: 4% auto; /*margen*/
    display: block; /*centra imagen*/
}

/*boton hamburguesa*/
header a.btn-burger{
    width: 40px;/*ancho*/
    padding: 4px;  /*espacio interno*/
    background-color: rgb(126, 126, 126); /*color-fondo*/
    display: block; /*centra*/
    color: rgb(255, 255, 255); /*color-medio*/
    font-size: 26px; 
    margin: 0 auto 15px; /*margen arriba, costados, abajo*/
    text-align: center; /*alinea*/
    border-radius: 10%; /*redondea*/
}

/*lista desordenada*/
header li{
    background-color: rgb(126, 126, 126); /*color-fondo*/
    margin-bottom: 4px; /*margen de abajo*/
    padding: 2% 0;/*espacio interno*/
    text-align: center; /*alinea*/
}
header li a{
    color: rgb(255, 255, 255); /*color de letras*/
    text-transform: uppercase; /* texto en mayuscula*/
}

/*tablet*/
@media (min-width: 768px) {
    header a.btn-burger{
        display: none; /*quita botn burger*/
    }
    /*lista desordenada*/
    header li{
        float: left; /*dipone uno al lado del otro*/
        width: 15%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
    header li:last-child{
        margin-right: 0;
    }
    header li a{
        font-size: .9rem; /*tamaño de letra*/
    }
}

/*desktop*/
@media (min-width: 1024px){
    header li a{
        font-size: 1.2rem; /*tamaño de letra*/
    }
    
}